body {
    background-color: gray;
}

.container-doações {
    background-color: #228B22;
}

/* Estilo da Imagem Jeferson Alves */
.container-qrcodecx {
    padding: 0px;
}

/* Estilo da Imagem */
img {
    padding: 0px;
}
