/* Estilos Gerais */
body {
	justify-content: center;
	align-items: center;

}

/* Estilo do Cabeçalho */
nav {
	width: 100%;
	text-align: center;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 4px;
	margin: 0 1%;
}

nav ul li {
	width: 40%;
	margin: 0 20px;
	border-radius: 4px;
}

nav ul li a {
	text-decoration: none;
}

nav ul li a.disabled {
	pointer-events: none;
}

/* Estilos para os Botões do cabeçalho nav*/
.btn-tecnologia,
.btn-serigrafia {
	width: 90%;
	font-size: 4.0vw;
	padding: 2%;
	margin: 2%;
	display: inline-block;
	cursor: pointer;
	border-radius: 4px;
	text-align: center;
}

/* Estilos para Títulos */
h1,
h2,
h3,
h4,
h5 {
	font-size: 5.4vw;
	text-align: center;
	margin: 0.5em 0;
}

/* Estilos para Parágrafos */
.p1 {
	hyphens: auto;
	text-align: justify;
	margin: 0 1%;
	text-indent: 10%;
	font-size: 4.4vw;
}

.p2 {
	hyphens: auto;
	text-align: justify;
	margin: 0 1%;
	text-indent: 10%;
	font-size: 4.4vw;
}

.p3 {
	hyphens: auto;
	text-align: left;
	margin: 0 1%;
	text-indent: 10%;
	font-size: 4.4vw;
}

.p4 {
	hyphens: auto;
	text-align: justify;
	font-size: 4.4vw;
}

.btn1,
.btn2 {
	width: 90%;
	border: none;
	padding: 1% 10%;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 10px;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 4.0vw;
}

.btn1:hover,
.btn2:hover {
	transform: scale(1.1);
}

.btn3 {
	border: none;
	padding: 5% 10%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 5.0vw;
	margin: 2%;
	cursor: pointer;
	border-radius: 4%;
}

.btn3:hover {
	transform: scale(1.1);
}

/* Espaçamento personalizado entre os containers */
.container-requisitos {
	width: 100%;
	border-radius: 10px;
	margin: 1% auto;
	padding: 1px;
	font-size: 4.4vw;
}

/* Estilo do Rodapé */
footer {
	text-align: center;
	margin: 1%;
	padding: 1%;
	border-radius: 8px;
	font-size: 4.1vw;
}