/* ESTILOS GERAIS */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* CABEÇALHO (NAV) */
nav {
    width: 100%;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    /* simplificado */
    margin: 0 2%;
}

nav ul li {
    flex: 1;
    margin: 2%;
    padding: 0;
    /* simplificado */
    border-radius: 1vw;
    background-color: #ff4081;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    display: block;
    width: 100%;
    padding: clamp(0.2rem, 2vw, 1rem);
    text-decoration: none;
    color: white;
    font-size: clamp(0.4rem, 4vw, 2rem);
    border-radius: 1vw;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
    background-color: #007BFF;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

nav ul li a.disabled {
    pointer-events: none;
}

/* Container esquerdo */
.container-esquerdo {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

/* Imagem Jeferson Alves */
.containerimgJA {
    align-items: flex-start;
    margin: 1%;
}

.containerimgJA img {
    width: clamp(120px, 35%, 300px);
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}


.container-weather {
    width: 100%;
    margin: 1% auto;
}

.weather-info {
    hyphens: auto;
    text-align: justify;
    border-radius: 10px;
    font-size: clamp(0.2rem, 4.8vw, 2.5rem);
    animation: skyPulse 12s ease infinite;
    padding: 4px;
}

/* Animação */
@keyframes skyPulse {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.btn-local {
    width: 90%;
    display: block;
    margin: 10px auto;
    padding: clamp(0.5rem, 2vw, 2rem);
    border: none;
    border-radius: 10px;
    font-size: clamp(0.4rem, 4.5vw, 2.5rem);
    cursor: pointer;
}

/* Containers */
.container-trabalhando,
.container-tecnologia,
.container-tecnologias-exploradas,
.container-serigrafia,
.container-casoseja,
.container-doações,
.container-gestores,
.container-reservado,
.container-serigrafia,
.container-atualizando,
.container-habilidades,
.container-formulario {
    border-radius: 10px;
    margin: 1% auto;
    padding: 4px;
    overflow-x: auto;
    font-size: clamp(0.4rem, 4.5vw, 2.5rem);
}

/* Imagens gestores */
.container-gestores section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
    flex-wrap: wrap;
    margin: 1% auto;
}

.containerimgSFV,
.containerimgSamuray,
.containerimgMetropoles,
.containerimgPD,
.containerimgsite,
.containerimgqrcoderondas {
    width: 48%;
}

/* Colunas */
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    hyphens: auto;
    font-size: clamp(0.7rem, 3vw, 2rem);
    box-sizing: border-box;
    width: 100%;
}

ul {
    list-style-type: disc;
}

li {
    margin-bottom: 0;
}
/**/
img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

/* Qrcode */
.container-qrcodecx {
    width: 100%;
    margin: 1% auto;
}

/* Formulário */
.form-container {
    padding: 20px;
    border-radius: 8px;
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: clamp(1rem, 4.8vw, 2.5rem);
}

.form-field input,
.form-field textarea {
    font-family: 'Arial', sans-serif;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    font-size: clamp(1rem, 4.8vw, 2.5rem);
    border: 1px solid;
}

/* TÍTULOS */
h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    margin: 1vw 0;
    font-size: clamp(1rem, 6vw, 3.5rem);
}

/* PARÁGRAFOS */
.p1,
.p2,
.p3,
.p4 {
    hyphens: auto;
    font-size: clamp(1rem, 5vw, 2.5rem);
    text-indent: 2em;
    margin: 2%;
}

.p1,
.p2,
.p4 {
    text-align: justify;
}

.p3 {
    text-align: left;
}

.pass {
    text-align: right;
}

/* BOTÕES */
.btn-tecnologia,
.btn-serigrafia,
.btn1,
.btn2 {
    width: 98%;
    margin: 1%;
    padding: 1%;
    font-size: clamp(1rem, 5vw, 3rem);
    border: none;
    border-radius: 1vw;
    text-align: center;
    cursor: pointer;
    animation: blinkAlert 1s infinite alternate;
    transition: transform 0.3s ease;
}

.btn-tecnologia:hover,
.btn-serigrafia:hover,
.btn1:hover,
.btn2:hover {
    transform: scale(1.1);
}

.btn3 {
    text-align: center;
    display: inline-block;
    padding: 1%;
    margin: 1%;
    font-size: clamp(0.4rem, 4vw, 2rem);
    border: none;
    border-radius: 1vw;
    cursor: pointer;
}

.btn3:hover {
    transform: scale(1.1);
}

.btn-enviar {
    text-align: center;
    display: flex;
    font-size: 4.4vw;
    margin: 2%;
    cursor: pointer;
    border-radius: 6px;
}

.btn-enviar {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* ANIMAÇÃO DE ALERTA */

.form-field input,
.form-field textarea {
    border: 1px solid;
}

/* RODAPÉ */
footer {
    text-align: center;
    border-radius: 1vw;
    padding: 1%;
    margin: 1%;
    font-size: clamp(0.4rem, 4vw, 2rem);
}