/* ESTILOS GERAIS */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* CABEÇALHO (NAV) */
nav {
    width: 100%;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0; /* simplificado */
    margin: 0 2%;
}

nav ul li {
    flex: 1;
    margin: 2%;
    padding: 0; /* simplificado */
    border-radius: 1vw;
    background-color: #ff4081;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    display: block;
    width: 100%;
    padding: clamp(0.2rem, 2vw, 1rem);
    text-decoration: none;
    color: white;
    border-radius: 1vw;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
    background-color: #007BFF;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

nav ul li a.disabled {
    pointer-events: none;
}

/* Imagem Jeferson Alves */
.containerimgJA {
    align-items: flex-start;
    margin: 1%;
}

.containerimgJA img {
    width: clamp(120px, 35%, 300px);
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

/* Containers */
.container-weather,
.container-trabalhando,
.container-tecnologia,
.container-tecnologias-exploradas,
.container-serigrafia,
.container-casoseja,
.container-doações,
.container-gestores,
.container-reservado,
.container-serigrafia,
.container-atualizando,
.container-habilidades,
.container-formulario {
    margin: 1% auto;
    border-radius: 10px;
    padding: 4px;
}
.weather-info {
    border-radius: 10px;
    animation: skyPulse 12s ease infinite;
    padding: 4px;
}

/* Imagens gestores */
.container-gestores section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
    flex-wrap: wrap;
    margin: 1% auto;
}

.container-qrcodecx,
.containerimgSFV,
.containerimgSamuray,
.containerimgMetropoles,
.containerimgPD,
.containerimgsite,
.containerimgqrcoderondas {
    width: clamp(120px, 35%, 300px);
    margin: 1% auto;
}

/**/
img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

/* Formulário */
.form-container {
    padding: 20px;
    border-radius: 8px;
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-field input,
.form-field textarea {
    font-family: 'Arial', sans-serif;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid;
}

/* RODAPÉ */
footer {
    text-align: center;
    border-radius: 1vw;
    padding: 1%;
    margin: 1%;
}