/* ============================ TÍTULOS ============================ */
h1 { color: white; } /*Branco*/
h2 { color: yellow; } /*Amarelo*/
h3 { color: #FF0000; } /*Vermelho*/
h4 { color: #0000FF; } /*Azul*/
h5 { color: #000000; } /*Preto*/

/* ============================ PARÁGRAFOS ============================ */
.pass { color: #87CEEB; }

.p1 { color: #000000; } /*Black*/
.p2 { color: #1C1C1C; } /*grey11*/
.p3 { color: #363636; } /*grey21*/
.p4 { color: #4F4F4F; } /*grey31*/
.p5 { color: #00008B; } /*DarkBlue*/
.p6 { color: #0000CD; } /*MediumBlue*/
.p3 { color: #0000FF; } /*Blue*/
.p7 { color: #006400; } /*DarkGreen*/
.p8 { color: #008000; } /*Green*/
.p9 { color: #32CD32; } /*LimeGreen*/
.p10 { color: #8B0000; } /*DarkRed*/
.p11 { color: #FF0000; } /*Red*/
.p12 { color: #FF4500; } /*OrangeRed*/
.p13 { color: #FFA500; } /*Orange*/
.p14 { color: #FFD700; } /*Gold*/
.p15 { color: #FFFF00; } /*Yellow*/
.p16 { color: white; } /*Branco*/