/*Primeiro valor (rem) → tamanho mínimo garantido (legível em telas pequenas, como 280px).*/
/*Segundo valor (vw) → tamanho fluido proporcional à largura da tela.*/
/*Terceiro valor (rem) → tamanho máximo (limita o crescimento em telas muito grandes, como 4K).*/

nav ul li a {
    font-size: clamp(0.4rem, 2vw, 3rem);  
}

.weather-info {
    font-size: clamp(1rem, 2vw, 3rem);
}

.btn-localDispositivo {
    font-size: clamp(1rem, 2vw, 3rem);
}
/*============================ TÍTULOS ================================*/
h1 {
  font-size: clamp(1.5rem, 3vw, 4rem);
  text-align: center;
}

h2 {
  font-size: clamp(1.4rem, 3vw, 4rem);
  text-align: center;
}

h3 {
  font-size: clamp(1.4rem, 3vw, 4rem);
  text-align: center;
}

h4 {
  font-size: clamp(1.3rem, 3vw, 4rem);
  text-align: center;
}

h5 {
  font-size: clamp(1.2rem, 3vw, 4rem);
  text-align: center;
}

/*=============================== PARÁGRAFOS =================================*/
.p1,
.p2,
.p4,
.p5,
.p6,
.p7,
.p8,
.p9,
.p10,
.p11,
.p12,
.p13,
.p14,
.p15,
.p16 {
    hyphens: auto;
    text-align: justify;
    font-size: clamp(1.1rem, 3vw, 4rem);
    text-indent: 2em;
    margin: 1%;
}

li, ul, ol {
    font-size: clamp(0.9rem, 3vw, 4rem);
    margin-left: 1%;
}
.p8 {
    text-align: justify;
    font-size: clamp(0.9rem, 3vw, 4rem);
}

.p3 {
    text-align: left;
    font-size: clamp(0.9rem, 3vw, 4rem);
}

.pass {
    text-align: right;
    font-size: clamp(0.9rem, 3vw, 4rem);
}

/* ============================ BOTÕES ============================ */
.btn-tecnologia,
.btn-serigrafia,
.btn1,
.btn2 {
    font-size: clamp(1rem, 3vw, 4rem);
}

/* Estilos para BOTÕES */
.btn3,
.btn4,
.btn5,
.btn6,
.btn7,
.btn8,
.btn9,
.btn10 {
    font-size: clamp(0.9rem, 3vw, 4rem);
}

.btn-localMetropoles,
.btn-vidéo,
.btn-convenção,
.btn-portaria,
.btn-pro,
.btn-A,
.btn-B,
.btn-C,
.btn-D,
.btn-H,
.btn-J,
.btn-L,
.btn-M,
.btn-N,
.btn-R,
.btn-T,
.btn-P {
    font-size: clamp(0.9rem, 3vw, 4rem);
}

.btn-enviar {
    font-size: clamp(0.9rem, 2vw, 1.5rem);
}

/*================================== Formulário ===============================*/
.form-field label {
    font-size: clamp(1rem, 4.8vw, 2.5rem);
}

.form-field input,
.form-field textarea {
    font-size: clamp(1rem, 4.8vw, 2.5rem);
}

/*================================== RODAPÉ ====================================*/
footer {
    font-size: clamp(0.4rem, 4vw, 2rem);
}