/* Estilos Gerais */
body {
	justify-content: center;
	align-items: center;
}

/* Container do cabeçalho */
.container-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo do Cabeçalho */
nav {
	width: 100%;
	text-align: center;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 4px;
	margin: 0 1%;
}

nav ul li {
	width: 40%;
	margin: 0 20px;
	border-radius: 4px;
}

nav ul li a {
	text-decoration: none;
}

nav ul li a.disabled {
	pointer-events: none;
}

.container-esquerdo {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;
}

/* Estilos para os Botões do cabeçalho nav*/
.btn-tecnologia,
.btn-serigrafia {
	width: 90%;
	padding: 2%;
	margin: 2%;
	display: inline-block;
	cursor: pointer;
	border-radius: 4px;
	text-align: center;
}

/* Estilo da Imagem Jeferson Alves */
.containerimgJA {
	align-items: flex-start;
	margin: 1%;

	img {
		width: 40%;
		display: block;
		margin: 0 auto;
		border-radius: 10px;
	}
}



/* 🌤️ Tema Claro (padrão) */
.container-weather {
	width: 100%;
	margin: 1% auto;
}

.weather-info {
	hyphens: auto;
	text-align: justify;
	border-radius: 10px;
	font-size: 3.8vw;
	animation: skyPulse 12s ease infinite;
	padding: 4px;
}

/* Animação compartilhada */
@keyframes skyPulse {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.btn-local {
	width: 90%;
	display: block;
	margin: 10px auto;
	padding: 6px 10px;
	border: none;
	border-radius: 10px;
	font-size: 4vw;
	cursor: pointer;
}


/* Estilos para Containers */
.container-trabalhando {
	hyphens: auto;
	text-align: justify;
	border-radius: 10px;
	margin: 1% auto;
	padding: 4px;
	overflow-x: auto;
}

.container-tecnologia {
	border-radius: 10px;
	margin: 1% auto;
	overflow-x: auto;
}

.container-tecnologias-exploradas {
	border-radius: 10px;
	margin: 1% auto;
	overflow-x: auto;
}

/* Estilo das colunas */
.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.column {
	hyphens: auto;
	width: 50%;
	font-size: 3.0vw;
	box-sizing: border-box;
}

ul {
	list-style-type: disc;
}

li {
	margin-bottom: 0%;
}

.container-atualizando {
	width: 100%;
	border-radius: 10px;
	overflow-x: auto;
	font-size: 4.1vw;
	margin: 1%;
	padding-left: 1%;
}

.container-serigrafia {
	margin: 1%;
	padding: 4px;
	overflow-x: auto;
}

.container-habilidades {
	width: 100%;
	border-radius: 10px;
	padding-left: 4%;
	overflow-x: auto;
	font-size: 4.6vw;
}

.container-casoseja {
	hyphens: auto;
	text-align: justify;
	border-radius: 10px;
	margin: 1% auto;
	padding: 4px;
	overflow-x: auto;
}

.container-doações {
	border-radius: 10px;
	padding: 1%;
	overflow-x: auto;
	font-size: 4.6vw;
	margin: 1%;
}

.container-gestores {
	hyphens: auto;
	text-align: justify;
	border-radius: 10px;
	margin: 1% auto;
	padding: 4px;
	overflow-x: auto;
}

/* Container principal */
.container-gestores {
	padding: 2%;
}

/* Container que agrupa as imagens lado a lado */
.container-gestores section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 2%;
	/* espaço entre os containers */
	flex-wrap: wrap;
	/* permite quebra de linha em telas menores */
}

/* Containers individuais de imagem */
.containerimgSFV {
	width: 48%;
}

.containerimgSamuray {
	width: 48%;
}

/* Estilo da imagem */
img {
	width: 100%;
	border-radius: 10px;
	display: block;
}







/* Estilo da Imagem do qrcodecx*/
.container-qrcodecx {
	width: 100%;
	margin: 1% auto;
}

.container-reservado {
	margin: 1% auto;
	overflow-x: auto;
	font-size: 4.0vw;
}

.container-formulario {
	border-radius: 10px;
	margin: 10px auto;
	padding: 5px;
	overflow-x: auto;
}

/* Estilo do Formulário */
.form-container {
	padding: 20px;
	border-radius: 8px;
}

.form-field {
	margin-bottom: 20px;
}

.form-field label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 4.8vw;
}

.form-field input,
.form-field textarea {
	font-family: 'Arial', sans-serif;
	width: 100%;
	padding: 6px;
	border-radius: 5px;
	font-size: 4.8vw;
}


/*Estilos para botões*/
.btn1,
.btn2 {
	width: 90%;
	border: none;
	padding: 1% 10%;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 10px;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 5.0vw;
}

.btn1:hover,
.btn2:hover {
	transform: scale(1.1);
}

.btn3 {
	border: none;
	padding: 5% 10%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 5.0vw;
	margin: 2%;
	cursor: pointer;
	border-radius: 4%;
}

.btn3:hover {
	transform: scale(1.1);
}

.btn-enviar {
	text-align: center;
	display: flex;
	font-size: 4.4vw;
	margin: 2%;
	cursor: pointer;
	border-radius: 6px;
}

/* Estilo do Rodapé */
footer {
	text-align: center;
	margin: 1%;
	padding: 1%;
	border-radius: 8px;
	font-size: 4.1vw;
}