body {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 94%;
}

.navbar {
  display: flex;
  padding-right: 2%;
  overflow: auto;
  width: 100%;
  border-radius: 1vw;
}

.logo {
  font-style: italic;
  padding: clamp(0.2rem, 2vw, 1rem);
}

.menu {
  list-style: none;
  margin: auto;
  display: flex;
}

.menu li a { text-decoration: none; /* remove sublinhado */; }

/* RODAPÉ */
footer {
  text-align: center;
  border-radius: 1vw;
  padding: 1%;
  margin: 1%;
}