
/* Estilos para o BODY */
body {
  background: #9ba89b;
}


/* Estilos para o menu de navegação */
.navbar {
  background-color: green;
}
.logo {
  color: white;
  background-color: blueviolet;
}
.menu li a {
  text-decoration: none;
  color: yellow;
}

/* ============================ RODAPÉ ============================ */
footer {
  background-color: blue;
  color: white;
}

