/* Estilos Gerais */
body {
  justify-content: center;
  align-items: center;
  background-color: silver;

}

/* ============================ CABEÇALHO (NAV) ============================ */
nav {
  width: 100%;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  /* simplificado */
  margin: 0 2%;
}

nav ul li {
  flex: 1;
  margin: 2%;
  padding: 0;
  /* simplificado */
  border-radius: 1vw;
  background-color: #ff4081;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  display: block;
  width: 100%;
  padding: clamp(0.2rem, 2vw, 1rem);
  text-decoration: none;
  color: white;
  font-size: clamp(0.4rem, 4vw, 2rem);
  border-radius: 1vw;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
  background-color: #007BFF;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

nav ul li a.disabled {
  pointer-events: none;
  color: grey;
}

/*Estilo para as imagens ser*/

.linha {
  width: 100%;
  overflow: auto
}

.colunaimgser {
  display: flex;
  flex-direction: row;
}

.colunaimgser img {
  margin-right: 5px;
  /* Ajuste o espaçamento entre as imagens conforme necessário */
}

.logoSFV {
  margin-left: 5px;
  width: 51%;
  /* Defina a largura desejada para esta imagem */
  height: 30%;
  /* Defina a altura desejada para esta imagem */
}

.logodivulg {
  width: 30%;
  /* Defina a largura desejada para esta imagem */
  height: 30%;
  /* Defina a altura desejada para esta imagem */
}

.logopagamentos {
  width: 30%;
  /* Defina a largura desejada para esta imagem */
  height: 30%;
  /* Defina a altura desejada para esta imagem */
}

.logoaçai {
  width: 30%;
  /* Defina a largura desejada para esta imagem */
  height: 30%;
  /* Defina a altura desejada para esta imagem */
}

.logoescolatec {
  width: 30%;
  /* Defina a largura desejada para esta imagem */
  height: 30%;
  /* Defina a altura desejada para esta imagem */
}

.logobarbearia {
  width: 30%;
  /* Defina a largura desejada para esta imagem */
  height: 30%;
  /* Defina a altura desejada para esta imagem */
}

.logocaveira {
  width: 30%;
  /* Defina a largura desejada para esta imagem */
  height: 30%;
  /* Defina a altura desejada para esta imagem */
}

.kit-aux-banheiroporta {
  margin-left: 5px;
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-aux-banheirosanitario {
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-aux-silencio {
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-adv-Cond {
  margin-left: 5px;
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-adv-NF {
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-adv-piso {
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-reg-estacionar {
  margin-left: 5px;
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-reg-NF {
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-reg-perturbação {
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-reg-cãobravo {
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

/* Estilos para Containers */
.container-requisitos {
  hyphens: auto;
  width: 95%;
  margin: 1% auto;
  padding: 1%;
  background-color: #1e1e1e;
  border-radius: 1vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #f5f5f5;
  font-size: clamp(1rem, 5vw, 2.5rem);
}

/* ============================ RODAPÉ ============================ */
footer {
  text-align: center;
  border-radius: 1vw;
  padding: 1%;
  margin: 1%;
  font-size: clamp(0.4rem, 4vw, 2rem);
  background-color: blue;
  color: white;
}