/* Estilos Gerais */
body {
	justify-content: center;
	align-items: center;

}

/* Estilo do Cabeçalho */
nav {
	width: 100%;
	text-align: center;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 4px;
	margin: 0 1%;
}

nav ul li {
	width: 40%;
	margin: 0 20px;
	border-radius: 4px;
}

nav ul li a {
	text-decoration: none;
}

nav ul li a.disabled {
	pointer-events: none;
}

/* Estilos para os Botões do cabeçalho nav*/
.btn-tecnologia,
.btn-serigrafia {
	width: 90%;
	font-size: 4.0vw;
	padding: 2%;
	margin: 2%;
	display: inline-block;
	cursor: pointer;
	border-radius: 4px;
	text-align: center;
}

/* Estilos para Títulos */
h1,
h2,
h3,
h4,
h5 {
	font-size: 5.4vw;
	text-align: center;
	margin: 0.5em 0;
}

/* Estilos para Parágrafos */
.p1 {
	hyphens: auto;
	text-align: justify;
	margin: 0 1%;
	text-indent: 10%;
	font-size: 4.4vw;
}

.p2 {
	hyphens: auto;
	text-align: justify;
	margin: 0 1%;
	text-indent: 10%;
	font-size: 4.4vw;
}

.p3 {
	hyphens: auto;
	text-align: left;
	margin: 0 1%;
	text-indent: 10%;
	font-size: 4.4vw;
}

.p4 {
	hyphens: auto;
	text-align: justify;
	font-size: 4.4vw;
}

.btn1,
.btn2 {
	width: 90%;
	border: none;
	padding: 1% 10%;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 10px;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 4.0vw;
}

.btn1:hover,
.btn2:hover {
	transform: scale(1.1);
}

.btn3 {
	border: none;
	padding: 5% 10%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 5.0vw;
	margin: 2%;
	cursor: pointer;
	border-radius: 4%;
}

.btn3:hover {
	transform: scale(1.1);
}

/* Espaçamento personalizado entre os containers */
.container-requisitos {
	width: 100%;
	border-radius: 10px;
	margin: 1% auto;
	padding: 1px;
	font-size: 4.4vw;
}

/* Estilo do Rodapé */
footer {
	text-align: center;
	margin: 1%;
	padding: 1%;
	border-radius: 8px;
	font-size: 4.1vw;
}

/* Estilos Gerais */
body {
  background-color: silver;
}

/* Estilo do Cabeçalho */
nav {
  color: white;
}

nav .logo {
  background-color: blue;
}

nav .logo a {
  color: white;
}

nav ul li {
  background-color: pink;
}

nav ul li a {
  color: white;
}

nav ul li a.disabled {
  color: grey;
}

/* Estilos para Títulos */
h1 {
  color: white;
  font-size: 170%;
}

h2 {
  color: yellow;
}

h3 {
  color: brown;
}

h4 {
  color: white;
}

h5 {
  color: #007BFF;
}

/* Estilos para Parágrafos */
.p1 {
  color: #007BFF;
}

.p2 {
  color: red;
}

.p3 {
  color: blue;
}

/*Estilo para as imagens ser*/

.linha {
  width: 100%;
  overflow: auto
}

.colunaimgser {
  display: flex;
  flex-direction: row;
}

.colunaimgser img {
  margin-right: 5px;
  /* Ajuste o espaçamento entre as imagens conforme necessário */
}

.logoSFV {
  margin-left: 5px;
  width: 51%;
  /* Defina a largura desejada para esta imagem */
  height: 30%;
  /* Defina a altura desejada para esta imagem */
}

.logodivulg {
  width: 30%;
  /* Defina a largura desejada para esta imagem */
  height: 30%;
  /* Defina a altura desejada para esta imagem */
}

.logopagamentos {
  width: 30%;
  /* Defina a largura desejada para esta imagem */
  height: 30%;
  /* Defina a altura desejada para esta imagem */
}

.logoaçai {
  width: 30%;
  /* Defina a largura desejada para esta imagem */
  height: 30%;
  /* Defina a altura desejada para esta imagem */
}

.logoescolatec {
  width: 30%;
  /* Defina a largura desejada para esta imagem */
  height: 30%;
  /* Defina a altura desejada para esta imagem */
}

.logobarbearia {
  width: 30%;
  /* Defina a largura desejada para esta imagem */
  height: 30%;
  /* Defina a altura desejada para esta imagem */
}

.logocaveira {
  width: 30%;
  /* Defina a largura desejada para esta imagem */
  height: 30%;
  /* Defina a altura desejada para esta imagem */
}

.kit-aux-banheiroporta {
  margin-left: 5px;
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-aux-banheirosanitario {
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-aux-silencio {
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-adv-Cond {
  margin-left: 5px;
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-adv-NF {
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-adv-piso {
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-reg-estacionar {
  margin-left: 5px;
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-reg-NF {
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-reg-perturbação {
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

.kit-reg-cãobravo {
  width: 50%;
  /* Defina a largura desejada para esta imagem */
  height: 50%;
  /* Defina a altura desejada para esta imagem */
}

/* Estilos para os Botões */
.btn-tecnologia:hover,
.btn-serigrafia:hover {
  background-color: green;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn1,
.btn2,
.btn-tecnologia,
.btn-serigrafia {
  animation: blinkAlert 1s infinite alternate;
  color: white;
  transition: transform 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

@keyframes blinkAlert {
  0% {
    background-color: green;
  }

  100% {
    background-color: white;
    color: blue;
  }
}

.btn1:hover,
.btn2:hover {
  background-color: #45a049;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn3 {
  background-color: #28A745;

  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn3:hover {
  background-color: #218838;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilos para Containers */
.container-requisitos {
  background-color: green;
  color: yellow;
}

/* Estilo do Rodapé */
footer {
  background-color: blue;
  color: white;
}