body {
    background-color: skyblue;
}


.btn1,
.btn2 {
    animation: blinkAlert 1s infinite alternate;
    color: white;
    transition: transform 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

@keyframes blinkAlert {
    0% {
        background-color: green;
    }

    100% {
        background-color: white;
        color: blue;
    }
}


.btn1:hover,
.btn2:hover {
    background-color: #45a049;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}