* {
    box-sizing: border-box;
}

body {
    display: block;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    padding: 1%;
}

.container-principal {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 100%;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
}

.campo {
    width: 99%;
    display: flex;
    flex-direction: column;
}

.input-wrapper input,
.input-wrapper select {
    width: 100%;
    margin: 2%;
    padding: 1%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container-botoes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
    /* espaçamento entre os botões */
}

button {
    width: 30%;
    margin: 2% auto;
    padding: 1.2%;
    font-size: 84%;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.laranja-claro {
    background-color: #f4a261;
}

.amarelo {
    background-color: #fcbf49;
}

.laranja {
    background-color: #e76f51;
}

.roxo {
    background-color: #9d4edd;
}

.azul {
    background-color: #219ebc;
}

.amarelo-claro {
    background-color: #ffdd57;
    color: #333;
}

.cadastrar {
    font-size: 120%;
    margin-top: 2%;
    width: 100%;
    text-align: center;
}

.cadastrar button {
    width: 30%;
}

table {
    width: 100%;
    margin-top: 1%;
    border-collapse: collapse;
    background-color: #fff;
    font-size: 56%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 1%;
    text-align: center;
}

th {
    background-color: goldenrod;
}

@media (max-width: 768px) {
    .flex-wrapper {
        flex-direction: column;
    }

    .botao-container,
    .input-container,
    .cadastrar button {
        width: 100%;
    }
}